body{
  width: 100%;
  margin: 0;
  font-size: 17px;
}

.background-image{
  pointer-events: none;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
}
.ps-text-center{
  text-align: center;
}

.ps-ceo-header sup{
  font-size: 70%;
}

.ps-ceo-container{
  width:  100%;
  padding:  20px 0px;
  overflow: hidden;
  position: relative;
}

.ps-ceo-header, .ps-ceo-imageContent, .ps-ceo-featureContent, .ps-ceo-downloadContent{
  padding: 0px 20px;
}

.ps-ceo-header{
  margin-bottom: 15px;
}
.ps-ceo-header h1{
  font-size: 34px;
  font-family: "wellsfargo";
  margin: 0;
}

.ps-ceo-header h2{
  font-size: 24px;
  font-family: "wellsfargo";
  margin: 0;
}

.ps-text-white{
  color: white;
}

.ps-ceo-imageContent img{
  max-width: 80%;
  margin: 0px auto;
}

.ps-feature-header{
  display: none;
}

.ps-feature-list{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.ps-ceo-imageContent{
  margin-bottom: 10px;
}

.ps-feature-list li{
  color: white;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: "wellsfargo";
  display: flex;
}

.ps-ceo-content {
  display: flex;
  flex-direction: column;
}

.ps-ceo-sidecontent {
  order: -1;
  display: flex;
}

.ps-list-img-content {
  padding:  10px 0px;
}

.ps-list-img-content img{
   max-width:  48px;
}

.ps-list-data-content p{
    margin: 0 0 10px;
    text-align: left;
    padding: 0 15px;
}
.ps-list-data-content p:first-child sup {
  text-decoration: none;

}

.ps-list-data-content p:first-child {
    font-size: 21px;
    max-width: fit-content;
    border-bottom: 2px solid white;
    padding: 0;
    margin-left: 15px;
}

.ps-ceo-header:before {
  content: '';
    width: 80px;
    position: absolute;
    border: 2px solid orange;
    top: 15px;
    left: calc(50% - 40px);
}

.ps-feature-list {
  border-bottom: 0;
}

@media (min-width: 768px) {

    .ps-feature-list {
      border-bottom: border-bottom: 1px solid #ccc;
    }

    .ps-ceo-sidecontent {
      order: 0;
      display: flex;
    }
    .ps-ceo-content{
      display: flex;
      flex-direction: row;
    }

    .ps-ceo-header h1{
      font-size: 42px;
      font-family: "wellsfargo";
    }

    .ps-ceo-header h2{
      font-size: 30px;
      font-family: "wellsfargo";
    }

    .ps-ceo-container {
      width: 100%;
      max-height: 480px;
      overflow: hidden;
    }

    .ps-ceo-imageContent{
      width: 50%;
    }

    .ps-feature-header{
      display: block;
    }

    .ps-ceo-sidecontent{
      width:  50%;
    }

    .ps-feature-list{
      text-align: left;
      list-style: none;
      border-bottom: none;
    }


}

@media (min-width: 1080px) {
  .ps-ceo-header {
    position: absolute;
  }
  .ps-ceo-header h1,.ps-ceo-header h2{
    text-align: left;
  }
  .ps-ceo-sidecontent {
    margin-top: 150px
  }
  .ps-ceo-header{
    margin-left: calc(50% + 30px);
    padding-left:  20px;
  }

  .ps-ceo-header:before {
    content: '';
    width: 0;
    height: 90px;
    position: absolute;
    border: 2px solid orange;
    top: 5px;
    left: 0;
  }
  .ps-ceo-featureContent{
    padding-left: 0px;
  }
  .ps-ceo-container {
      width: 100%;
      max-height: 100%;
      overflow: hidden;
    }

}

@media (min-width: 1400px) {
  .ps-ceo-sidecontent{
    display: flex;
  }

  .ps-ceo-container {
      width: 100%;
      max-height: 100%;
  }
  .ps-ceo-downloadContent {
    max-width: 100%;
  }

  .ps-ceo-imageContent {
    width: 40%;
  }

  .ps-ceo-header {
    margin-left: calc(40% + 50px);
    padding-left: 20px;
    max-width: 400px;
  }

  .ps-ceo-header:before {
    left: 0;
  }

}
